<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.wear">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name="com.app.wear.WearApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TibiBalance">

        <!-- meta-data necesario para apps standalone de Wear OS -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.app.wear.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TibiBalance"
            android:taskAffinity="com.app.wear">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
